.row {

  @mixin clearfix;

  &--gutted {
    margin-right: -65px;

    > div {
      padding-right: 65px;
    }
  }

  &--gutted-large {
    margin-right: -100px;

    > div {
      padding-right: 100px;
    }
  }

  &__column {
    float: left;

    @mixin atMedium {

      &--medium-4 {
        width: 33.3%;
      }

      &--medium-4-smaller {
        width: 37%;
      }

      &--medium-8 {
        width: 66.6%;
      }

      &--medium-8-smaller {
        width: 63%;
      }

      &--medium-6 {
        width: 50%;
      }

    }

  }

}
